/*
 * @Date: 2020-09-21 16:32:53
 * @LastEditors: Skye Young
 * @LastEditTime: 2020-09-24 11:07:50
 * @FilePath: \程序\2\css\_main.scss
 */

div.main {
  .banner {
    background: url('../asset/banner/bg.jpg') no-repeat center #676767;
    // background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;

    > .container {
      position: relative;
      height: 70vh;
      max-height: 576px;
      overflow: hidden;

      $padding: 14px;
      > .imgs {
        > a {
          display: block;
          height: inherit;
          opacity: 0;

          &.on {
            opacity: 1;
          }

          > img {
            height: 70vh;
            max-height: 576px;
            position: absolute;
          }

          > span {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            display: block;
            padding: $padding;
            color: #ffffff;
            background-color: rgba($color: #000000, $alpha: 0.4);
          }
        }
      }

      > .nav {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: $padding;
        display: flex;

        > div {
          display: block;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin-right: 10px;
          background-color: #ffffff;
          opacity: 0.2;
          cursor: pointer;
          transition: opacity 0.4s;

          &.on {
            opacity: 1;
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .public-info {
    margin: 15px 8% 0 8%;
    display: grid;
    grid-template-columns: 2fr 3fr 336px;
    gap: 15px;

    > .placard,
    > .news {
      font-size: 14px;

      > .tabs {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 30px;
        background-image: linear-gradient(
          90deg,
          $theme-color 40%,
          $theme-color-light
        );
        padding-left: 4px;
        margin-bottom: 10px;

        > a {
          display: inline-block;
          padding: 4px 8px;
          color: #ffffff;
          font-weight: bold;
          text-decoration: none;

          &.on,
          &:hover {
            color: $theme-color;
            background-color: #ffffff;
          }
        }
      }

      > .posts {
        > a {
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          flex-shrink: 0;
          margin-top: 2px;
          width: 100%;
          text-decoration: none;
          color: #333333;
          line-height: 24px;

          &::before {
            content: '';
            position: absolute;
            width: 3px;
            border-left: 5px solid #999999;
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
          }

          // 链接名
          > .name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 400px;
            padding-left: 14px;
          }

          // 图标
          > .sign {
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;

            &.is-new {
              background-size: contain;
              height: 14px;
              width: 25px;
              background-image: url(../asset/new.gif);
            }
          }

          // 日期
          > .date {
            color: #999999;
          }
        }
      }
    }

    > .other {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;

      > a {
        > img {
          height: 95px;
          width: 100%;
        }
      }
    }
  }
}
