/*
 * @Date: 2020-09-21 16:32:53
 * @LastEditors: Skye Young
 * @LastEditTime: 2020-09-23 13:20:18
 * @FilePath: \程序\2\css\_main.scss
 */

div.main {
  .banner {
    height: 70vh;
    max-height: 576px;
    background: url('../asset/banner/bg.jpg') no-repeat center #676767;
    // background-size: contain;
  }

  .public-info {
    margin: 15px 8% 0 8%;
    display: grid;
    grid-template-columns: 2fr 3fr 336px;
    gap: 15px;

    > .placard,
    > .news {
      font-size: 14px;

      > .tabs {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 30px;
        background-image: linear-gradient(
          90deg,
          $theme-color 40%,
          $theme-color-light
        );
        padding-left: 4px;
        margin-bottom: 10px;

        > a {
          display: inline-block;
          padding: 4px 8px;
          color: #ffffff;
          font-weight: bold;
          text-decoration: none;

          &.on,
          &:hover {
            color: $theme-color;
            background-color: #ffffff;
          }
        }
      }

      > .posts {
        > a {
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          flex-shrink: 0;
          margin-top: 2px;
          width: 100%;
          text-decoration: none;
          color: #333333;
          line-height: 24px;

          &::before {
            content: '';
            position: absolute;
            width: 3px;
            border-left: 5px solid #999999;
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
          }

          > .name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 400px;
            padding-left: 14px;
          }

          > .sign {
            display: inline-block;

            &.is-new {
              background-size: contain;
              height: 14px;
              width: 25px;
              background-image: url(../asset/new.gif);
            }
          }

          > .date {
            color: #999999;
          }
        }
      }
    }

    > .other {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;

      > a {
        > img {
          height: 95px;
          width: 100%;
        }
      }
    }
  }
}
