@charset "UTF-8";
/*
 * @Date: 2020-09-19 11:21:50
 * @LastEditors: Skye Young
 * @LastEditTime: 2020-09-21 16:34:27
 * @FilePath: \程序\2\css\index.scss
 */
/* 全局 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei', arial;
}

.fade {
  opacity: 0;
  pointer-events: none;
}

/* header 头部 */
/*
 * @Date: 2020-09-21 16:33:27
 * @LastEditors: Skye Young
 * @LastEditTime: 2020-09-21 16:33:42
 * @FilePath: \程序\2\css\_header.scss
 */
header .header-top {
  background-color: #4b4b4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
}

header .header-top > span.hello {
  font-size: 12px;
  color: #fff;
  display: block;
  line-height: 30px;
}

header .header-top > .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-top > .link > .search {
  display: inline-block;
  position: relative;
}

header .header-top > .link > .search .search-input {
  width: 150px;
  height: 25px;
}

header .header-top > .link > .search .search-submit {
  border: 0;
  outline: 0;
  background-color: transparent;
  background-image: url("../asset/search.png");
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

header .header-top > .link > a {
  margin-left: 15px;
}

header .logo {
  padding: 10px 0;
  padding-left: 10%;
}

header .logo > img {
  height: 88px;
}

header nav {
  background-color: #0061aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav > .menu {
  display: inline-block;
  text-align: center;
  position: relative;
}

header nav > .menu:hover {
  background-color: #ffffff;
}

header nav > .menu:hover > a {
  color: #0061aa;
}

header nav > .menu:hover > .sub-menu {
  pointer-events: all;
  opacity: 1;
}

header nav > .menu > a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 14px 0;
}

header nav > .menu > .sub-menu {
  position: absolute;
  background-color: #0061aa;
  width: 100%;
  font-size: smaller;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

header nav > .menu > .sub-menu > a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 0;
}

header nav > .menu > .sub-menu > a:hover {
  color: #0061aa;
  text-decoration: underline;
  background-color: #cee0ed;
}

/* main 主体 */
/*
 * @Date: 2020-09-21 16:32:53
 * @LastEditors: Skye Young
 * @LastEditTime: 2020-09-23 13:20:18
 * @FilePath: \程序\2\css\_main.scss
 */
div.main .banner {
  height: 70vh;
  max-height: 576px;
  background: url("../asset/banner/bg.jpg") no-repeat center #676767;
}

div.main .public-info {
  margin: 15px 8% 0 8%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr 336px;
      grid-template-columns: 2fr 3fr 336px;
  gap: 15px;
}

div.main .public-info > .placard,
div.main .public-info > .news {
  font-size: 14px;
}

div.main .public-info > .placard > .tabs,
div.main .public-info > .news > .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 30px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #0061aa), to(#cee0ed));
  background-image: linear-gradient(90deg, #0061aa 40%, #cee0ed);
  padding-left: 4px;
  margin-bottom: 10px;
}

div.main .public-info > .placard > .tabs > a,
div.main .public-info > .news > .tabs > a {
  display: inline-block;
  padding: 4px 8px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

div.main .public-info > .placard > .tabs > a.on, div.main .public-info > .placard > .tabs > a:hover,
div.main .public-info > .news > .tabs > a.on,
div.main .public-info > .news > .tabs > a:hover {
  color: #0061aa;
  background-color: #ffffff;
}

div.main .public-info > .placard > .posts > a,
div.main .public-info > .news > .posts > a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 2px;
  width: 100%;
  text-decoration: none;
  color: #333333;
  line-height: 24px;
}

div.main .public-info > .placard > .posts > a::before,
div.main .public-info > .news > .posts > a::before {
  content: '';
  position: absolute;
  width: 3px;
  border-left: 5px solid #999999;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

div.main .public-info > .placard > .posts > a > .name,
div.main .public-info > .news > .posts > a > .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  padding-left: 14px;
}

div.main .public-info > .placard > .posts > a > .sign,
div.main .public-info > .news > .posts > a > .sign {
  display: inline-block;
}

div.main .public-info > .placard > .posts > a > .sign.is-new,
div.main .public-info > .news > .posts > a > .sign.is-new {
  background-size: contain;
  height: 14px;
  width: 25px;
  background-image: url(../asset/new.gif);
}

div.main .public-info > .placard > .posts > a > .date,
div.main .public-info > .news > .posts > a > .date {
  color: #999999;
}

div.main .public-info > .other {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 15px;
}

div.main .public-info > .other > a > img {
  height: 95px;
  width: 100%;
}

/* footer 底部 */
/*
 * @Date: 2020-09-21 16:31:53
 * @LastEditors: Skye Young
 * @LastEditTime: 2020-09-22 10:47:30
 * @FilePath: \程序\2\css\_footer.scss
 */
footer > .link {
  height: 90px;
  margin-top: 90px;
  background-color: #0061aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer > .link > .special-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 387.8461px;
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
}

footer > .link > .special-link > .sexangle {
  display: block;
  position: relative;
  -webkit-filter: drop-shadow(0px 0px 1px #ffffff);
          filter: drop-shadow(0px 0px 1px #ffffff);
  margin-bottom: 1px;
}

footer > .link > .special-link > .sexangle:not(:last-of-type) {
  margin-right: -23.98076px;
}

footer > .link > .special-link > .sexangle:nth-of-type(2n + 1) {
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
}

footer > .link > .special-link > .sexangle:hover > div.dark {
  color: #378fc6;
}

footer > .link > .special-link > .sexangle:hover > div.light {
  color: #0061aa;
}

footer > .link > .special-link > .sexangle > div {
  border-left: 25.98076px solid transparent;
  border-right: 25.98076px solid transparent;
  height: 0;
  width: 107.35383px;
}

footer > .link > .special-link > .sexangle > div:first-of-type {
  border-bottom: 45px solid currentColor;
  margin-bottom: -1px;
}

footer > .link > .special-link > .sexangle > div:last-of-type {
  border-top: 45px solid currentColor;
}

footer > .link > .special-link > .sexangle > div.dark {
  color: #0061aa;
}

footer > .link > .special-link > .sexangle > div.light {
  color: #378fc6;
}

footer > .link > .special-link > .sexangle > span {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 3px;
}

footer > .link > .normal-link {
  color: #ffffff;
}

footer > .link > .normal-link > span {
  font-weight: bold;
}

footer > .link > .normal-link > a {
  color: inherit;
  text-decoration: none;
  margin-left: 30px;
}

footer > .website-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666666;
  text-align: center;
  font-size: 14px;
  margin: 20px 0;
}

footer > .website-info img {
  height: 60px;
}

footer > .website-info a {
  color: inherit;
  text-decoration: none;
}
