/*
 * @Date: 2020-09-19 11:21:50
 * @LastEditors: Skye Young
 * @LastEditTime: 2020-09-21 13:47:37
 * @FilePath: \程序\2\css\index.scss
 */
@import 'color-panel';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei', arial;
}

// 隐藏元素
.fade {
  opacity: 0;
  pointer-events: none;
}

header {
  .header-top {
    background-color: #4b4b4b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;

    > span.hello {
      font-size: 12px;
      color: #fff;
      display: block;
      line-height: 30px;
    }

    > .link {
      display: flex;
      align-items: center;

      > .search {
        display: inline-block;
        position: relative;

        .search-input {
          width: 150px;
          height: 25px;
        }

        .search-submit {
          border: 0;
          outline: 0;
          background-color: transparent;
          background-image: url('../asset/search.png');
          width: 25px;
          height: 25px;
          position: absolute;
          right: 0;
          top: 0;
          cursor: pointer;
        }
      }
      > a {
        margin-left: 15px;
      }
    }
  }

  .logo {
    padding: 10px 0;
    padding-left: 10%;

    > img {
      height: 88px;
    }
  }

  nav {
    background-color: $theme-color;
    display: flex;
    justify-content: center;

    > .menu {
      display: inline-block;
      text-align: center;
      position: relative;

      &:hover {
        background-color: $nav-color;

        > a {
          color: $theme-color;
        }

        > .sub-menu {
          pointer-events: all;
          opacity: 1;
        }
      }

      > a {
        display: block;
        text-decoration: none;
        color: $nav-color;
        padding: 14px 0;
      }

      > .sub-menu {
        position: absolute;
        background-color: $theme-color;
        width: 100%;
        font-size: smaller;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;

        > a {
          display: block;
          text-decoration: none;
          color: $nav-color;
          padding: 10px 0;

          &:hover {
            color: $theme-color;
            text-decoration: underline;
            background-color: $theme-color-light;
          }
        }
      }
    }
  }
}

div.main {
  .banner {
    height: 70vh;
    background: url('../asset/banner/bg.jpg') no-repeat center #676767;
    // background-size: contain;
  }
}

footer {
  // .link 高度
  $height: 90;
  // 六边形边长
  $length: $height/1.732;
  // 加宽值
  $wider: 0.2;
  // px
  $heightPx: #{$height}px;
  $lengthPx: #{$length}px;
  // 淡色
  $light-color: #378fc6;

  > .link {
    // 蜂巢链接布局
    height: $heightPx;
    margin-top: $heightPx;
    background-color: $theme-color;
    display: flex;
    align-items: center;
    justify-content: space-around;

    > .special-link {
      display: flex;
      flex-wrap: wrap;
      width: #{(1 + 1.732/2) * $length * 4}px; // 每四个换一次行
      transform: translateY(-#{$height/2}px);

      > .sexangle {
        display: block;
        position: relative;
        filter: drop-shadow(0px 0px 0px #ffffff);
        margin-bottom: 1px;

        &:not(:last-of-type) {
          margin-right: -#{$length/2 - 3}px;
        }

        &:nth-of-type(2n + 1) {
          transform: translateY(#{$height/2}px);
        }

        &:hover {
          > div {
            &.dark {
              color: $light-color;
            }

            &.light {
              color: $theme-color;
            }
          }
        }

        // 用两个梯形拼成六边形（加宽正六边形的横向宽度得到，使得视觉上更好看）
        > div {
          border-left: #{$length/2}px solid transparent;
          border-right: #{$length/2}px solid transparent;
          height: 0;
          width: #{(1 + 1.732/2 + $wider) * $length}px;

          &:first-of-type {
            border-bottom: #{(1.732/2) * $length}px solid currentColor;
          }

          &:last-of-type {
            border-top: #{(1.732/2) * $length}px solid currentColor;
          }

          &.dark {
            color: $theme-color;
          }

          &.light {
            color: $light-color;
          }
        }

        > span {
          color: #ffffff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: fit-content;
          padding-bottom: 3px;
        }
      }
    }

    > .normal-link {
      color: #ffffff;

      > span {
        font-weight: bold;
      }
      > a {
        color: inherit;
        text-decoration: none;
        margin-left: 30px;
      }
    }
  }

  > .website-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666;
    text-align: center;
    font-size: 14px;
    margin: 20px 0;

    img {
      height: 60px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
