header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > span {
  display: inline-flex;
  align-items: center;
}

header > span > .logo {
  width: 150px;
  height: 60px;
  background-image: url("./source/renren-logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: transparent;
}

header > span > .slogan,
legend {
  font-weight: 800;
}

.main {
  border: 1px solid #000000;
}

fieldset {
  border: none;
  margin-top: 20px;
}

#register > div {
  margin-left: 40px;
  margin-bottom: 10px;
}

#register > div > label {
  width: 80px;
  text-align: right;
  display: inline-block;
}

#register #code-image {
  display: inline-block;
  width: 120px;
  height: 60px;
  border: 1px solid #000000;
}

#code-image {
  overflow: hidden;
}

#submit {
  background-color: #65a44c;
  color: #ffffff;
  border-radius: 4px 0 0 4px;
  border: none;
}

#submit::after {
  content: "";
  display: inline-block;
  border-top: 10px solid transparent;
  border-left: 20px solid #65a44c;
  border-bottom: 10px solid transparent;
}
